<!--/*********************************************************************************************
* WEB322 – Assignment 3
* I declare that this assignment is my own work in accordance with Seneca Academic Policy.
* No part of this assignment has been copied manually or electronically from any other source
* (including web sites) or distributed to other students.
*
* Name: João Vitor Andrade Miranda Student ID: 116499203 Date: 06/16/2022
*
* Online (Heroku) URL:  https://dry-cliffs-12918.herokuapp.com/
*
**********************************************************************************************/-->

<div class="container" style="padding-top:60px">
  <div class="row">
    <section class="main col-md-9">
      <article>
      <h2>About</h2>
      <p>Hello, my name is João Vitor Andrade Miranda, student of Computer Programming (CPP) and I am currently on my third semester.</p>
      <p>This is the page "about" that I am developing for the course of Web Programming Tools and Frameworks (WEB 322).</p>
      <p>Goal: My main goal is to graduate from college and get a job in the field of full stack web developer or in the field of artificial intelligence and data science.</p>
      </article>
    </section>
    <aside class="col-md-3"><p>Coming later...</p></aside>
  </div>
</div>